.Rproj.user
.Rhistory
.RData
.Ruserdata
*.xlsx
*.rdata
output/2023_All_EPUs_All_methods_.png
output/Results_complete.csv
output/Results_2023Jul05_1314.csv
output/Results_2023Jul04_1201.csv
output/Results.csv
output/2023_All_EPU_All_method.csv
www/elk_galore.JPG
*.csv
Copy_Bayesian_condensed.R
Copy_Bayesian_condensed.R
*.png
*.dcf
rsconnect/shinyapps.io/3ahyqy-tristen-brush/ElkAbundanceEstimator.dcf
output/BA_plot_3yr.jpg
output/BA_plot_3yr.pdf
output/BA_plot_8yr.jpg
output/BA_plot_8yr.pdf
output/BA_plot_8yr_2021_to_23.jpg
output/BA_plot_8yr_2021_to_23.pdf
rsconnect/shinyapps.io/3ahyqy-tristen-brush/ElkAbundanceEstimator.dcf
*.jpg
*.pdf
